language: ruby

rvm:
        - 2.4.1

addons:
        postgresql: '9.6'

notifications:
        email: false

env:
        global:
                - NOKOGIRI_USE_SYSTEM_LIBRARIES=true
                - CC_TEST_REPORTER_ID=

before_install: 
        - sudo locale-gen --no-archive es_CO.UTF-8
        - sudo /etc/init.d/postgresql stop
        - sudo /etc/init.d/postgresql start 9.6
        - psql -c 'CREATE DATABASE sivel2sjrcol_pru;' -U postgres
        - bundle install
        - cp config/database.travis.yml config/database.yml
        - cp config/initializers/sip.rb.plantilla config/initializers/sip.rb
        - cp db/structure.sql db/structure.sql.copia # travis no soporta PostreSQL 10
        - sed -e 's/provider = libc,//g' db/structure.sql.copia > db/structure.sql 
        - bundle exec rake db:setup
        - bundle exec rake sip:indices

script: 
        - bundle exec rails test
