<div class='div_ubicacionpre' >
  <% ph = ''%>
  <% ac = {'data-autocompleta' => 'no' } %>
  <% if (!f.object.ubicacionpre) %>
    <% ph = 'Buscar'%>
    <% ac = { } %>
  <% end %>
  <% ac['data-toogle']='tooltip' %>
  <% ac['title']='Empiece a escribir la ciudad, municipio, departamento o país y cuando lo vea en el listado de autocompletados, elijalo.' %>

  <%= f.input :ubicacionpre_texto, placeholder: ph,
    #value_method: lambda {|t| '' if t.nombres == 'N'},
    label: false,
    input_html: ac %>
  <%= f.input :ubicacionpre_id, as: :hidden %>
</div>


