<article>
<h1>Acerca de</h1>
<p>SIVeL2-Colombia es un sistema de información que permite registrar 
casos de refugio, así como desplazamientos y actos de violencia 
político-social.</p>
<p>Este sistema de información de 
<a href="http://www.pasosdeJesus.org/dominio_publico_colombia.html" target="_blank">dominio público de acuerdo a la legislación Colombiana</a>, 
ha sido financiado por el 
<a href="http://sjrcol.com/web/" target="_blank">SJR Colombia</a> 
y ha sido desarrollado por 
<a href="http://www.pasosdeJesus.org" target="_blank">Pasos de Jesús</a>
sobre componentes también de dominio público financiados
por <a href="http://www.sjrlac.org">SJR LAC</a>, 
<a href="http://www.nocheyniebla.org">Banco de Datos del CINEP</a> 
y <a href="http://www.cinep.org.co">CINEP</a>.  
</p>
<p>Puede encontrar sus fuentes en <a href="http://www.github.com/pasosdeJesus/sivel2_sjrcol">http://www.github.com/pasosdeJesus/sivel2_sjrcol</a></p>
<p>El Servicio Jesuita de Refugiados Colombia actua para la construcción de 
una sociedad justa, participativa, inclu­yente, sostenible y reconciliada 
que materialice los principios del Estado Social de Derecho, Con la 
convicción de que el amor, la solidaridad y el respeto por el prójimo 
sustenta la misión del Servicio Jesuita a Refugiados Colombia.
Ver más en la <a href="http://sjrcol.com/web/">página web del SJR Colombia</a>. </p>
</article>
