<dl>
  <dt><strong>Atencion/es brindadas hasta el momento:</strong></dt>

  <% # SEGUIMIENTO A CASOS %> 
  <% ga = Cor1440Gen::Actividad.joins(
    'INNER JOIN sivel2_sjr_actividad_casosjr ' +
    'ON sivel2_sjr_actividad_casosjr.actividad_id = cor1440_gen_actividad.id').
    where('sivel2_sjr_actividad_casosjr.casosjr_id = ?', @caso.casosjr.id) %>
  <dd>
  <table style="width: 100%">
    <tr>
      <th>Actividad</th>
      <th>Fecha de Atención</th>
      <th>Nombre de la actividad</th>
      <th>Convenio Financiador</th>
    </tr>
    <% ga.each do |g| %>
      <tr>
        <td>
          <%= link_to g.id.to_s,
            cor1440_gen.edit_actividad_path(g),
            target: '_blank' %>
      </td>
      <td><%= g.fecha %></td>
      <td><%= g.nombre %></td>
      <td>
        <% pfs= [] %>
        <% pfs = g.proyectofinanciero_ids.uniq - [10] %>
        <% if pfs != [] %>
          <% convenio = pfs.inject('') {|memo, p| 
            pf = Cor1440Gen::Proyectofinanciero.find(p)
            memo == '' ? pf.nombre : memo + '; ' + pf.nombre } %>
        <% end %>
        <%= convenio %>
      </td>
      </tr>
    <% end %>
  </table>
  </dd>
</dl>
