<%= f.simple_fields_for :anexo_victima do |anexo| %>
  <%= render partial: 'anexo_caso_campos', locals: {:f => anexo} %>
<% end %>
<div class="links">
  <%= link_to_add_association 'Añadir Anexo', f, :anexo_victima, 
     partial: 'anexo_caso_campos',
     render_options:  {locals: { consentimiento: consentimiento }},
     :class => 'btn-primary' 
  %>
</div>
